- if($page>1):
  %a{ :href => (request_uri($uri_len) .'/1') } First
  %span /
  %a{ :href => (request_uri($uri_len) .'/'. ($page-1)) } Previous
- else:
  First / Previous
- endif
%span /
- if($count>$page*10):
  %a{ :href => request_uri($uri_len).'/'.($page+1) } Next 
- else:
  Next
- endif
%span / 
  - if($page<$lastpage):
    %a{ :href=>request_uri($uri_len) .'/'. $lastpage } Last
  - else:
    Last
  - endif
