- if($page>1&&$page<=$count):
  %a{ :href => url(query() . 'page='. ($page-10)) } Previous
- else:
  Previous
- endif
%span /
- if($count>$page+10):
  %a{ :href => url(query() . 'page='. ($page+10)) } Next 
- else:
  Next
- endif
%span / 
  - $last = $count-($count%10)
  - if($count>10&&$last!=$page):
    - if($count>$last):
      %a{ :href=>url(query(). 'page='. $last)} Last
    - elseif($page!=($last-10)):
      %a{ :href=>url(query(). 'page='. ($last-10))} Last
    - else:
      %span Last
    - endif
  - else:
    Last
  - endif
