.content{ :align => 'center' }
  - if($error):
    .message.errors
      %ul
        - foreach($error as $e):
          %li= $e
        - endforeach
  - endif
  %table{ :cellspacing => '0.0', :cellpadding => '0.0', :width =>'500' }
    %thead.forumbg.forumhead
      %th.top-left{ :colspan => '2' }= $title
      %th.top-right{ :width => 20 } 
      
    %tr.row-0
      %td{ :colspan => '3', :align => 'left' }
        .formwrap.postform
          %form{ :method => 'post', :action => url('?c=user&a=saveuser') }
            %div
              %label{ :for => 'username'} Username
              %input{ :type => 'text', :name => 'username', :value=>$post['username'] }
            %div
              %label{ :for => 'password'} Password
              %input{ :type => 'password', :name => 'password', :value=>$post['password'] }
            %div  
              %label{ :for => 'email'} E-mail
              %input{ :type => 'text', :name => 'email', :value=>$post['email'] }
            .clear
            
            %input.sbutton{ :type => 'submit', :name => 'Save', :value => 'Register' }
    %tr.forumbg.forumfoot
      %td.bottom-left
      %td
      %td.bottom-right 
